<%= form_with(model: tank) do |form| %>
  <% if tank.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(tank.errors.count, "error") %> prohibited this tank from being saved:</h2>

      <ul>
        <% tank.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <table>
    <tr>
      <td>Name</td>
      <td><%= form.text_field :name %></td>
    </tr>
    <tr>
      <td>Volume (liters)</td>
      <td><%= form.text_field :volume %></td>
    </tr>
    <tr>
      <td>Pump Pin</td>
      <td><%= form.text_field :pump_pin %></td>
    </tr>
  </table>
  <%= form.submit %>
<% end %>
