<div id="<%= dom_id tank %>">
<h2>Tank: <%= @tank.name %></h2>
<p>Volume: <%= @tank.volume %> liters</p>
<p>Pump Pin: <%= @tank.pump_pin %></p>
<p>Pump Status:
    <% if @tank.needs_pumping %>
        <span style = "bgcolor:green, color:white">On</span>
    <% else %>
        Off
    <% end %>
</p>
</br>
<hr/>
<% if @tank.zones.any? %>
    <h3>Zones</h3>
    <table>
        <tr>
            <th>
        </tr>
        <% @tank.zones.ascending.each do |zone| %>
            <tr>
                <td><%= link_to zone.name, zone_path(zone_id: zone.id) %></td>
                <td><%= zone.crop_list %></td>
                <td><%= zone.moisture_target %></td>
            </tr>
        <% end %>
    </table>
<% end %>
<%= link_to "Add a zone", new_zone_path(tank_id: tank.id) %>
<br/>
<hr/>
<% if @tank.child_tank.present? %>
    <h3>Child Tank</h3>
    <p><%= link_to @tank.child_tank.name, tank_path(tank_id: @tank.child_tank.id) %></p>
    <br/>
    <hr/>
<% end %><% if @tank.parent_tank.present? %>
    <h3>Parent Tank</h3>
    <p><%= link_to @tank.parent_tank.name, tank_path(tank_id: @tank.parent_tank.id) %></p>
    <br/>
    <hr/>
<% end %>
<h3>Recent Level Readings</h3>
<table style="border-spacing:10px;">
    <tr style="text-align:center;">
        <th>Date/Time</th>
        <th>Level</th>
    <tr>
    <% @tank.level_readings.descending.last_day.each do |lr| %>
        <tr>
            <td><%= zone.name %></td>
            <td><%= zone.crop_list %></td>
            <td><%= zone.moisture_target %></td>
            <td><%= lr.created_at.strftime("%A %l:%M %p") %></td>
            <td><%= lr.low ? "Low" : "Not low" %></td>
        </tr>
    <% end %>
</table>
<br/>

</div>
