<p style="color: green"><%= notice %></p>

<h1>Tanks</h1>

<div id="tanks">
<table class="datatable responsive no-wrap">
  <tr>
    <th>Name</th>
    <th>Volume</th>
    <th>Status</th>
    <th>Harvest</th>
  </tr>
  <% @tanks.each do |tank| %>
    <tr>
        <td><%= link_to tank.name, tank_path(tank) %></td>
        <td><%= tank.volume %></td>
        <td><%= tank.needs_pumping ? "Pump On" : "Pump Off" %></td>
        <td><%= tank.total_harvest %></td>
    </tr>
  <% end %>
</table>
</div>

<%= link_to "New tank", new_tank_path %>
