<p style="color: green"><%= notice %></p>

<h1>Tanks</h1>

<div id="tanks">
<table>
  <% @tanks.each do |tank| %>
    <tr>
        <td><%= link_to tank.name, tank_path(tank) %></td>
        <td><%= tank.volume %></td>
        <td><%= tank.pump_on? ? "Pump On" : "Pump Off" %></td>
    </tr>
  <% end %>
</table>
</div>

<%= link_to "New tank", new_tank_path %>
