<%= form_with(model: crop) do |form| %>
  <% if crop.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(crop.errors.count, "error") %> prohibited this crop from being saved:</h2>

      <ul>
        <% crop.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <table>
    <tr>
      <td>Name</td>
      <td><%= form.text_field :name %></td>
    </tr>
    <tr>
      <td>Description</td>
      <td><%= form.text_field :description %></td>
    </tr>
    <tr>
      <td>Date Planted</td>
      <td><%= form.date_field :plant_date %></td>
    </tr>
    <tr>
      <td>Date Pulled</td>
      <td><%= form.date_field :pull_date %></td>
    </tr>
  </table>

  <div>
    <%= form.submit %>
  </div>
<% end %>
