<p style="color: green"><%= notice %></p>

<h1>Crops Last Year</h1>

<div id="crops">
<table class="datatable crops responsive no-wrap" id="crops">
  <thead>
    <tr>
        <th>Name</th>
        <th>Season</th>
        <th>Total Harvest</th>
        <th>Planted</th>
        <th>Pulled</th>
    </tr>
  </thead>
  <tbody>
    <% @crops.each_with_index do |crop, i| %>
        <tr>
            <td><%= link_to crop.name, crop_path(crop) %></td>
            <td><%= crop.season %></td>
            <td><%= @harvests[i] %></td>
            <td><%= crop.plant_date.present? ? crop.plant_date.strftime("%Y-%b-%d") : "" %></td>
            <td><%= crop.pull_date.present? ? crop.pull_date.strftime("%Y-%b-%d") : "" %></td>
        </tr>
    <% end %>
  </tbody>
</table>
</div>
