<%
   #
   # Copyright 2022 John C. Feltz, github: Feltz-UD-EE/garden_1
   #
%>

<div>
  <h1>Garden 1</h1>
  <h2>Current time: <%= Time.now.strftime("%A, %-d %b %Y %l:%M %p")%></h2>
  <hr/>
  <h2>Zone Status</h2>
  <table>
    <tr>
      <th>Number</th>
      <th>Name</th>
      <th>Crop</th>
      <th>Moisture Target</th>
      <th>Latest Moisture Reading</th>
      <th>Valve Status</th>
    </tr>
    <% @zones.each do |zone| %>
      <tr>
        <td><%= zone.number %></td>
        <td><%= link_to zone.name, zone_path(zone) %></td>
        <td><%= zone.crop %></td>
        <td><%= zone.moisture_target %></td>
        <td><%= zone.latest_reading %></td>
        <td><%= zone.needs_water ? "Open" : "Closed" %></td>
        </tr>
    <% end %>
  </table>
  <br/>
  <%= link_to "New Zone", new_zone_path %>
  <hr/>

  <h2>Tank Status</h2>
  <table>
    <tr>
      <th>Name</th>
      <th>Pump Status</th>
    </tr>
    <% @tanks.each do |tank| %>
      <tr>
        <td><%= link_to tank.name, tank_path(tank) %></td>
        <% if tank.needs_pumping %>
          <td style = "bgcolor:green, color:white">On</td>
        <% else %>
          <td>Off</td>
        <% end %>
      </tr>
    <% end %>
  </table>
  <br/>
  <%= link_to "New Tank", new_tank_path %>
  <hr/>
</div>

<!--   <%= link_to "Sign up", rodauth.create_account_path %>  -->
