<p style="color: green"><%= notice %></p>

<div>
  <h1>About Feltz Garden 1</h1>
  <p>Current time: <%= Time.now.strftime("%A, %-d %b %Y %l:%M %p")%></p>
  <p>Zone Table</p>
  <% @zones.each do |zone| %>
    <p><%= zone.number %>: <%= zone.crop %>, <%= zone.moisture_target %></p>
  <% end %>
  <p>Tanks</p>
</div>

<div>
<%= link_to "About", about_path %>
<%= link_to "Credits", credits_path %>
<%= link_to "Legal", legal_path %>