<div id="<%= dom_id zone %>">
<h2>Zone: <%= @zone.name %></h2>
<p>Number: <%= @zone.number %></p>
<p>Tank: <%= link_to @zone.tank.name, tank_path(@zone.tank) %></p>
<p>Crops: <%= @zone.crop_list %></p>
<p>Description: <%= @zone.description %></p>
<p>Valve Pin: <%= @zone.valve_pin %></p>
<p>Sensor: <%= @zone.sensor_pin %>-<%= @zone.sensor_index %></p>
<p>Moisture Target: <%= @zone.moisture_target %></p>
<hr/>
<h3>Crops</h3>
<table style="border-spacing:10px;">
    <tr style="text-align:center;">
        <th>Name</th>
        <th>Description</th>
        <th>Plant Date</th>
        <th>Pull Date</th>
    <tr>
    <% @zone.crops.each do |crop| %>
        <tr>
            <td><%= link_to crop.name %></td>
            <td><%= crop.description %></td>
            <td><%= crop.plant_date.present? ? crop.plant_date.strftime("%A %l:%M %p") : "" %></td>
            <td><%= crop.pull_date.present? ? crop.pull_date.strftime("%A %l:%M %p") : "" %></td>
        </tr>
    <% end %>
</table>
<%= link_to "Add a crop", new_crop_path(zone_id: zone.id) %>
<hr/>
<h3>Recent Moisture Readings</h3>
<table style="border-spacing:10px;">
    <tr style="text-align:center;">
        <th>Date/Time</th>
        <th>Level</th>
    <tr>
    <% @zone.moisture_readings.descending.last_day.each do |mr| %>
        <tr>
            <td><%= mr.created_at.strftime("%A %l:%M %p") %></td>
            <td><%= mr.value %></td>
        </tr>
    <% end %>
</table>
<br/>
<%= link_to "More...", moisture_readings_path(zone_id: @zone.id) %>
<hr/>
<br/>
</div>
