<div id="<%= dom_id zone %>">
<h2>Zone: <%= @zone.name %></h2>
<p><%= button_to "Edit", edit_zone_path(@zone), method: :get %>
  <%= button_to "Destroy", @zone, method: :delete %></p>
<p>Number: <%= @zone.number %></p>
<p>Tank: <%= @zone.tank_name %></p>
<p>Crops: <%= @zone.crop_list %></p>
<p>Description: <%= @zone.description %></p>
<p>Valve Pin: <%= @zone.valve_pin %></p>
<p>Sensor: <%= @zone.sensor_pin %>-<%= @zone.sensor_index %></p>
<p>Moisture Target: <%= @zone.moisture_target %></p>
<p>This Year's Harvest: <%= @zone.total_harvest_this_year %></p>
<hr/>
<h3>Crops</h3>
<table class="datatable zone-crops responsive no-wrap" id="zone-crops">
  <thead>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Plant Date</th>
        <th>Pull Date</th>
        <th>Annual Harvest</th>
        <th></th>
    <tr>
  </thead>
  <tbody>
    <% @zone.crops.current.alpha.each do |crop| %>
        <tr>
            <td><%= link_to crop.name, crop_path(crop.id) %></td>
            <td><%= crop.description %></td>
            <td><%= crop.plant_date.present? ? crop.plant_date.strftime("%Y-%b-%d") : "" %></td>
            <td><%= crop.pull_date.present? ? crop.pull_date.strftime("%Y-%b-%d") : "" %></td>
            <td><%= crop.total_harvest_this_year %></td>
            <td><%= link_to "Add an Event", new_event_path(crop_id: crop.id) %></td>
        </tr>
    <% end %>
  </tbody>
</table>
<%= link_to "Add a crop", new_crop_path(zone_id: @zone.id) %>
<hr/>
<h3>Recent Events</h3>
<table class="datatable zone-events responsive no-wrap" id="zone-events">
  <thead>
    <tr>
        <th>Date/Time</th>
        <th>Crop</th>
        <th>Description</th>
        <th>Harvest</th>
    <tr>
  </thead>
  <tbody>
    <% @zone.events.this_year.descending.first(20).each do |e| %>
        <tr>
            <td><%= e.date.strftime("%A, %Y-%b-%d") %></td>
            <td><%= e.crop.description_pretty_short %></td>
            <td><%= e.description %></td>
            <td><%= e.harvest %></td>
        </tr>
    <% end %>
  </tbody>
</table>
<br/>
<h3>Recent Moisture Readings</h3>
<table class="datatable zone-moistures responsive no-wrap" id="zone-moistures">
  <thead>
    <tr>
        <th>Date/Time</th>
        <th>Level</th>
    <tr>
  </thead>
  <tbody>
    <% @zone.moisture_readings.descending.first(30).each do |mr| %>
        <tr>
            <td><%= mr.created_at.strftime("%A, %Y-%b-%d - %l:%M %p") %></td>
            <td><%= mr.value %></td>
        </tr>
    <% end %>
  </tbody>
</table>
<br/>
<%= link_to "More...", moisture_readings_path(zone_id: @zone.id) %>
<hr/>
<br/>
</div>
