<%
   #
   # Copyright 2022 John C. Feltz, github: Feltz-UD-EE/garden_1
   #
%>
<!DOCTYPE html>
<html>
  <head>
    <title>Garden1</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag    "ocean.css" %>
    <%= favicon_link_tag (asset_path('favicon.ico')) %>
  </head>

  <body>
    <div id="nav-wrapper">
      <div id="nav">
        <%= render :partial => 'layouts/navbar' %>
      </div>
    </div>

    <div class="row content-row%>">
      <div class = "small-12 columns">
        <%= render(:partial => 'layouts/error_messages') %>
        <%= yield %>
      </div>
    </div>

    <div id="footer" class="group columns-3">
      <%= render :partial => 'layouts/footer' %>
    </div>
    <div class="contain-to-grid" id = "copyright">
      <%= render :partial => 'layouts/copyright' %>
    </div>
  </body>
</html>
